.container {
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  width: 400px;
}

.color-container {
  width: 100%;
}

.title {
  margin-top: 5px;
  text-align: right;
}

.color-value {
  text-align: left;
  margin-top: 5px;
}
