<div class="container">
  <div>
    <span>Red:</span>
    <input
      type="range"
      min="0"
      max="255"
      [(ngModel)]="redValue"
      (input)="adjustColor()"
    />
  </div>
  <div>
    <span>Green:</span>
    <input
      type="range"
      min="0"
      max="255"
      [(ngModel)]="greenValue"
      (input)="adjustColor()"
    />
  </div>
  <div>
    <span>Blue:</span>
    <input
      type="range"
      min="0"
      max="255"
      [(ngModel)]="blueValue"
      (input)="adjustColor()"
    />
  </div>
  <router-outlet></router-outlet>
</div>
