{{ title }}
<div>
  <p>Search Component</p>
  <div>
    <p>
      Search for:
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="searchStr"
        (keyup.enter)="search()"
      />
    </p>
  </div>
  <div>
    <p>
      <input
        type="radio"
        name="search"
        [(ngModel)]="checkedVal.options"
        value="google"
        checked="checked"
      />Google
      <input
        type="radio"
        name="search"
        [(ngModel)]="checkedVal.options"
        value="bing"
      />Bing
    </p>
  </div>
</div>
<router-outlet></router-outlet>
