.container {
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  text-align: center;
  width: 300px;
}

.optionGroup,
.searchFor {
  margin-bottom: 30px;
}

input {
  margin-left: 10px;
}
